nav {
   /* position: fixed; */
   top: 10px;
   left: 0;
   width: 100%;
   background-color: #9ed3ff;
   z-index: 1;
   display: flex;
}

nav > ul {
   margin: 0 auto;
   list-style-type: none;
   padding: 0;
}

nav > ul > li {
   text-align: center;
   width: 140px;
   height: 40px;
   line-height: 40px;
   display: inline-block;
}

nav > ul > li > a {
   text-decoration: none;
   color: red;
}

@media (max-width: 425px) {
   nav {
      display: inline-flex;
      justify-content: space-around;
   }

   nav > ul > li {
      width: 60px;
      margin: 0 10px;
   }
}
