nav {
   /* position: fixed; */
   font-size: 20px;
   top: 10px;
   left: 0;
   width: 100%;
   z-index: 1;
   display: flex;
   background: #032032;
   border-radius: 10px;
   box-sizing: border-box;
   font-family: Merriweather, serif;
}

nav > ul {
   margin: 0 auto;
   list-style-type: none;
   padding: 0;
}

nav > ul > li {
   text-align: center;
   width: 140px;
   height: 40px;
   line-height: 40px;
   display: inline-block;
}

a {
   text-decoration: none;
   color: white;
}

nav > ul > li:hover a {
   color: #ff7364;
}

@media (max-width: 425px) {
   nav {
      display: inline-flex;
      justify-content: space-around;
   }

   nav > ul > li {
      width: 60px;
      margin: 0 10px;
   }
}
