* {
   box-sizing: border-box;
}

.main-container {
   position: relative;
   height: 100vh;
   width: 800px;
   margin: 3vh auto auto;
   /* display: flex; */
   /* justify-content: center; */
}

/* h1 {
   text-align: right;
   line-height: 2;
   position: relative;
   background-color: red;
   width: 60%;
   margin: 3% 0 3% auto;
   padding-right: 3%;
   padding-left: 3%;
   z-index: 2;
   min-width: 308px;
} */

.page-title {
   line-height: 2;
   font-family: Lobster, cursive;
   color: #011345;
   text-align: center;
   position: relative;
   background-color: red;
   width: 50%;
   margin: 45px auto 20px;
}

h1 {
   font-weight: 700;
   font-size: 44px;
   padding-right: 3%;
   padding-left: 3%;
   margin-bottom: 20px;
}

.container {
   display: flex;
   margin: 0 30px;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   font-family: Montserrat, sans-serif;
   height: 550px;
}

.card {
   margin: 10px;
   position: relative;
   width: 240px;
   height: 240px;
   transition: transform 1s;
   transform-style: preserve-3d;
   display: flex;
}

.front {
   position: relative;
   width: 100%;
   height: 100%;
}

.front img {
   width: 100%;
   height: 100%;
}

.front > h4 {
   position: absolute;
   font-size: 20px;
   text-align: center;
   background-color: rgba(255, 255, 255, 1);
   margin: calc((100% - 63px) / 2) 0;
   padding: 1em;
   width: 100%;
   opacity: 0;
}

.front:hover > h4 {
   background-color: #aaa;
   opacity: 1;
}

a {
   height: 90%;
   width: 90%;
}

@media (max-width: 425px) {
   .main-container {
      background-color: lightgreen;
      width: auto;
      height: auto;
   }

   .card {
      width: 100%;
      height: auto;
   }

   .container {
      margin: 0 10px;
      position: relative;
      height: auto;
      padding-bottom: 20px;
   }

   h1 {
      text-align: right;
      line-height: 1.5;
      position: relative;
      background-color: red;
      width: 90%;
      margin: 3% 0 3% auto;
      padding-right: 3%;
      z-index: 2;
   }
}

@media (min-width: 426px) and (max-width: 768px) {
   .main-container {
      background-color: lightblue;
      max-width: 100%;
      height: auto;
   }

   .page-title {
      margin-bottom: 30px;
   }

   .card {
      width: 200px;
      height: 200px;
   }

   .container {
      margin: 0 30px;
      height: auto;
      position: relative;
      padding-bottom: 20px;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   .main-container {
      background-color: pink;
      width: 769px;
   }

   .page-title {
      margin-bottom: 30px;
   }

   .card {
      width: 200px;
      height: 200px;
   }

   .container {
      margin: 0 30px;
      height: auto;
      position: relative;
      padding-bottom: 20px;
   }
}

@media (min-width: 1025px) {
   .main-container {
      background-color: darkblue;
      width: 1000px;
   }
}
