.container {
   position: absolute;
   width: 96vw;
   margin: 0 2vw;
}

.first {
   height: auto;
}

h1 {
   text-align: right;
}

.box-trials {
   box-sizing: content-box;
   position: absolute;
   width: 80%;
}

.box {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 150px;
   z-index: 1;
   background: red;
   color: white;
   margin: 0 auto;
}

#one {
   /* margin: 0 calc((100% - 450px) / 8) auto 0; */
}

#two {
   /* margin: 5vh calc((100% - 450px) / 8) auto; */
   background: blue;
}

#three {
   /* margin: 10vh 0 auto calc((100% - 450px) / 8); */
   background: purple;
}

.first-main-img {
   position: absolute;
   width: 80vw;
   height: 200px;
   background-color: pink;
   /* margin: -10px 0 0; */
   z-index: 0;
}

@media (min-width: 475px) {
   .container {
      background-color: lightgreen;
   }
}

@media (min-width: 476px) and (max-width: 768px) {
   .container {
      background-color: lightblue;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   .container {
      background-color: pink;
   }
}
