/* .container > img {
   width: 50%;
   margin: auto;
} */

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   /* background: url('img/DK-logo.jpg'); */
   /* background-size: cover; */
}

.container {
   position: absolute;
   background: #fff;
   box-sizing: border-box;
   border-radius: 10px;
}

.circle {
   display: block;
   width: 200px;
   height: 200px;
   background-image: url('img/DK-logo.jpg');
   border-radius: 50%;
   float: left;
   shape-outside: circle();
   margin: 30px 30px 30px 0;
   text-align:center;
}

p {
   margin: 0;
   padding: 0;
   text-align: justify;
   line-height: 2px;
}

h1 {
   margin: 0 0 20px;
}
